<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="public/application.css/bootstrap.css" rel="stylesheet">
    <link href="public/custom.css" rel="stylesheet" >
    <title></title>
  </head>
  <body>

    <h1>Welcome to the Task Manager</h1>

    <div class="container">
      <ul>
        <li><a class="list-group-item" href="http://localhost:9393/tasks">Task Index</a></li>
        <li><a class="list-group-item" href="http://localhost:9393/tasks/new">New Task</a></li>
      </ul>

  </body>
</html>
