<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/tasks" method="post">
      <p>Enter a new task:</p>
      <label for="task-title">Task Title</label>
      <input type='text' name='task[title]'/><br/>
      <label for="task-description">Description</label>
      <textarea name='task[description]'></textarea><br/>
      <input type='submit'/>
    </form>

  </body>
</html>
